<div>
    <h1>Doctor's Appointments</h1>
    <input id="search_appt" type="text" ng-model="filter_appts" placeholder="search...">
</div>
<div ng-controller="PatientController">
    <table>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Patient Name</th>
            <th>Complain</th>
        </tr>
        <tr>
            <td>October 7 2014</td>
            <td>8:00 AM</td>
            <td>KB Tonel</td>
            <td>Back pain</td>
        </tr>
        <tr ng-repeat="appointment in appointments | filter: filter_appts">
            <td ng-bind="appointment.date | date: 'MMMM d yyyy'"></td>
            <td ng-bind="appointment.time | date: 'h:mm a'"></td>
            <td ng-bind="appointment.name"></td>
            <td ng-bind="appointment.complain">
            <input class='hideMe' type="text" ng-model="cancelId.id" value="{{ appointment._id }}">
            <button class="cancelButton"  ng-click="cancelTime()">Cancel</button>
            {{$rootScope.cust_id}}
            </td>
            <td ng-bind="appointment._id"></td>
            <td ng-bind="cust_id"></td>
        </tr>
    </table>
    <a href="#/new_appointment"><button id="new_appt">Add New Appointment</button></a>
</div>